<div class="row">
    <div class="col-12">
        <h3><%= name %></h3>
        <br>
    </div>
</div>
<div class="row">
    <div class="card col-6">
      <img src="pics/<%= picture %>" class="card-img-top" alt="...">
    </div>
    <div class="col-1"></div>
    <div class="card col-5">
      <div class="card-body">
          <form id="bike-detail-form">
            <div class="form-group">
              <label for="price">Price:</label>
              <input type="text" readonly class="form-control bike-detail" id="price" placeholder="<%= price %>">
            </div>
            <div class="form-group">
              <label for="country">Country:</label>
              <input type="text" readonly class="form-control bike-detail" id="country" placeholder="<%= country %>">
            </div>
            <div class="form-group">
              <label for="year">Year:</label>
              <input type="text" readonly class="form-control bike-detail" id="year" placeholder="<%= year %>">
            </div>
            <div class="form-group">
              <label for="type">Type:</label>
              <input type="type" readonly class="form-control bike-detail" id="type" placeholder="<%= type %>">
            </div>
            <div class="form-group">
              <label for="type">Brakes:</label>
              <input type="text" readonly class="form-control bike-detail" id="brakes" placeholder="<%= brakes %>">
            </div>
            <button class="btn btn-primary bike-edit">Edit</button>
            <button type="submit" hidden class="btn btn-primary bike-submit">Save</button>
          </form>
      </div>
    </div>
</div>
